<footer class="page-footer font-small bg-dark pt-4">

     <div class="container">

         <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white ">redes sociais</h4>
            </div>
         </div>

         <div class="row mt-3">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://t.me/kauamauricio" target="_blank" class="icoTelegram">
                          <i class="fab fa-telegram icon-modify"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/kauaktdsantos/" target="_blank" class="icoInstagram">
                          <i class="fab fa-instagram icon-modify"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/kauã-mauricio-amorim-89640521b/" target="_blank" class="icoLinkedin">
                          <i class="fab fa-linkedin icon-modify" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.github.com/KauaMauricio" target="_blank" class="icoGithub">
                          <i class="fab fa-github icon-modify"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
     </div>

     <div class="footer-copyright text-center py-3">
        <p class="m-0 text-light font-weight-bold">Criado com amor e carinho por: Kauã Mauricio - 2022 💜</p>
    </div>

</footer>
