ul.social-network {
    list-style: none;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa {
    font-size: 32pt;
    color: white;
    padding: 10px;
}

.fa-brands:hover {
    color: #1C93E3;
}

.fa-instagram:hover {
    color: #C13584;
}

.fa-linkedin-square:hover {
    color: #0072b1;
}

.fa-github:hover {
    color: black;
}