<div class="container">

  <div class="content first-content">

      <div class="first-column">
          <img src="../../assets/discussion-rafiki.png" width="100%" height="100%" alt="login image">
      </div>


      <div class="second-column">
          <h2 class="title title-second">Register</h2>

          <p class="description description-second">Crie sua conta | Create your account</p>

          <form class="form">

              <div class="label-input" for="nome">
                  <i class="far fa-user icon-modify"></i>  <!-- ngModel fica lendo tudo que está sendo escrito -->
                  <input  [(ngModel)]="user.nome"
                   type="text"
                   class="form-control"
                   placeholder="Seu nome..."
                   name="nome"
                   id="nome" />
              </div>

              <div class="label-input" for="usuario">
                <i class="far fa-user icon-modify"></i>
                <input  [(ngModel)]="user.usuario"
                 type="text"
                 class="form-control"
                 placeholder="Seu usuário..."
                 name="usuario"
                 id="usuario" />
            </div>

              <div class="label-input" for="foto">
                <i class="far fa-user icon-modify"></i>
                  <input  [(ngModel)]="user.foto"
                  type="text" class="form-control"
                  placeholder="Link da sua foto..."
                  name="foto"
                  id="foto" />
              </div>

              <div class="label-input" for="senha">
                <i class="fas fa-lock icon-modify"></i>
                <input (input)="confirmSenha($event)"
                type="password"
                class="form-control"
                placeholder="Sua senha..."
                name="senha"
                id="senha" />
              </div>

              <div class="label-input" for="confirmSenha">
                  <i class="fas fa-lock icon-modify"></i>
                  <input [(ngModel)]="user.senha"
                  type="password"
                  class="form-control"
                  placeholder="Confirme sua senha..."
                  name="confirmSenha"
                  id="confirmSenha" />
              </div>

              <hr class="mt-3">

              <div class="botoes">
              <button class="btn btn-danger" type="submit" routerLink="/entrar">Cancel</button>
              <button class="btn btn-second" type="submit" (click)="cadastrar()">register</button>
              </div>

          </form>

      </div><!-- second column -->
  </div><!-- first content -->
</div><!-- container -->