<div class="container-fluid">

  <div class="row" style="background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);">
    <div class="col-md-12 text-white">

      <a routerLink="/inicio" class="text-white text-left">

        <i class="fa fa-duotone fa-arrow-left" aria-hidden="true"></i> Voltar ao Início</a>

        <h1 class="titulo-principal" style="text-align: center;">Tema</h1>
        <h5 class="subtitulo" style="text-align: center;">Veja todos os temas ou cadastre um novo:</h5>

        <div class="row d-flex justify-content-center mt-4 mb-5">
          <div class="col-md-3">
            <div class="form-group">
              <input type="text" class="form-control" id="descricao" placeholder="Digite a descrição do tema">
            </div>

            <div class="d-flex justify-content-center">
              <button class="btn btn-light">Cadastrar</button>
            </div>

          </div>
        </div>

    </div>
  </div>

</div> <!-- FINAL CONTAINER FLUID -->

<div class="container">

<div class="row">
  <div class="col-md-12">
    <h2 class="text-center mt-3">Todos os temas</h2>
  </div>
</div>

<div class="row mt-3 mb-5 d-flex justify-content-center">
  <div class="col-md-8">


    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tema</th>
          <th scope="col">Descrição</th>
          <th scope="col">Usuário</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Tecnologia</td>
          <td>novidades</td>
          <td>@Jeniffer</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mercado</td>
          <td>vagas</td>
          <td>@Layene</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Notícias</td>
          <td>atualizações</td>
          <td>@Pávio</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Aleatório</td>
          <td>sem contexto</td>
          <td>@Raúl</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

</div>