.titulo-principal {
  font-size: 54pt;
}

.subtitulo {
  font-size: 18pt;
}

.seta {
  font-size: 22pt;
}

/* From uiverse.io by @adamgiebl */
.decorate-button {
  position: relative;
  padding: 5px 18px;
  border-radius: 3px;
  font-size: 15px;
  color: #FFF;
  text-decoration: none;
  background-color: #2ecc71;
  border: none;
  border-bottom: 5px solid #27ae60;
  text-shadow: 0px -2px #27ae60;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
 }

 .decorate-button:hover, .decorate-button:active {
  -webkit-transform: translate(0px,3px);
  -ms-transform: translate(0px,3px);
  transform: translate(0px,3px);
  border-bottom: 1px solid #2ecc71;
 }