<div class="container-fluid text-light py-4" style="background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);">

     <!-- ------------------------ CANTO SUPERIOR ESQUERDO ------------------------ -->

  <div class="container">
    <div class="row ">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <h1 class="display-4 text-center font-weight-bold">Bem vinde ao meu<br><span class="display-3 bg-text font-weight-bolder">Blog Pessoal</span></h1><br>
        <p class="text-center">Digita alguma coisa ai vai...</p>

        <div class="d-flex justify-content-around">
          <button class="btn btn-outline-light px-5" data-toggle="modal" data-target="#novaPostagemModal">Nova Postagem</button>
          <a class="btn btn-light px-5" href="#postagens">Ver Postagens</a>
        </div>
      </div>

      <!-- ------------------------ CANTO SUPERIOR DIREITO ------------------------ -->

      <div class="col-md-6">
        <img src="assets/Developer.png" alt="imagem de fundo" class="img-fluid">
        <!--<img src="assets/noteimage.png" alt="imagem de fundo" class="img-fluid">-->
      </div>
    </div>
  </div>
</div>


      <!-- ------------------------ ÁREA DE POSTAGENS ------------------------ -->

<div class="container mt-3" id="postagens">
  <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link text-dark active font-weight-bold" id="todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="todasPostagens" aria-selected="true">Todas as postagens</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link text-dark font-weight-bold" id="minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="minhasPostagens" aria-selected="false">Minhas postagens</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link text-dark font-weight-bold" id="postagensTema-tab" data-toggle="tab" href="#postagensTema" role="tab" aria-controls="postagensTema" aria-selected="false">Postagens por tema</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="todasPostagens-tab">conteudo 1</div>
    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="minhasPostagens-tab">conteudo 2</div>
    <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="postagensTema-tab">conteudo 3</div>
  </div>
</div>


        <!-- ------------------------ ÁREA MODAL ------------------------ -->

<div class="modal fade" id="novaPostagemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="titulo" placeholder="Digite o título">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>: </label>
          <select name="tema" id="tema" class="form-control">
            <option value="">Temas</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger " data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-success ">Publicar</button>
      </div>
    </div>
  </div>
</div>

        <!-- ------------------------ ÁREA CARROSSEL ------------------------ -->
<hr class="mt-5">
        <h3 class="text-center mt-2 mb-5">MINHA TRAJETÓRIA</h3>
      <div class="card-deck mt-3 mb-5">
        <div class="card">
          <img class="card-img-top" src="../../assets/imgs/img12.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bootcamp Generation Brasil</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated one day ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/imgs/img15.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Eu</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated one day ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/imgs/img13.JPG" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Eu</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated one day ago</small></p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../assets/imgs/img14.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated one day ago</small></p>
          </div>
        </div>
      </div>
